material/d1
material/bilder/
material/jf03_bild.tf
material/jf03_minus.tf
material/jf03_plus.tf
material/tustep.ini
material/tustep.mcr
material/ziel1.rtf
material/ziel2.rtf
material/zielbild.rtf
material/~$elbild.rtf
.DS_Store
